<div id="contents">
  <div class="box">
    <div>
      <div class="body">
        <h1>{{title}}</h1>
        {{#if message}}
          <p class="notice">{{message}}</p>
        {{/if}}
        <ul id="sites">
          {{#each trips}}
          <li>
            <!-- { changed code }: link to API trip JSON by code -->
            <a href="/api/trips/{{this.code}}"><img src="{{this.image}}" alt="{{this.name}}"></a>
            <h2><a href="/api/trips/{{this.code}}">{{this.name}}</a></h2>
            {{{this.description}}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
